@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@theme {
  --font-inter: Inter, sans-serif;
  --font-instrument: "Instrument Serif", serif;

  --color-tropical-indigo: #9e92fb;
  --color-gold: #ffd639;
  --color-smoky-black: #110903;
  --color-rose-red: #ba274a;
  --color-asparagus: #6ba368;
}
